.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.profile img {
  margin-top: 120px;
}

.profile h1 {
  text-align: center;
  width: 70%;
  font-size: 90px;
  font-weight: 600;
}

.profile h1 span.name {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile h1 span.text {
  color: white;
}

.profile p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.profile-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.profile-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
  transition: 0.5s;
}

.profile-connect:hover {
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

.profile-resume {
  padding: 25px 45px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.5s;
}
.profile-resume:hover {
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .profile img {
    margin-top: 120px;
    width: 260px;
  }
  .profile h1 {
    margin-top: 50px;
    width: 90%;
    font-size: 50px;
  }
  .profile p {
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }
  .profile-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .profile-connect {
    padding: 20px 30px;
    border-radius: 40px;
  }
  .profile-resume {
    padding: 20px 50px;
    border-radius: 40px;
  }
}
