.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  /* margin: 80px 170px; */
  margin: 80px auto;
  padding: 0 20px;
  max-width: 1200px;
}

.contact-title {
  position: relative;
}

.contact-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.contact-section {
  display: flex;
  gap: 150px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-left h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-backkground-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-left p {
  color: #d8d8d8;
  width: 550px;
  font-size: 20px;
  line-height: 35px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #d8d8d8;
  font-size: 22px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.contact-right label {
  color: #d8d8d8;
  font-size: 22px;
  font-weight: 500;
}

.contact-right input {
  border: none;
  width: 700px;
  height: 78px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}

.contact-right textarea {
  width: 650px;
  border: none;
  padding: 25px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}

.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  font-size: 22px;
  padding: 20px 60px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .contact {
    /* gap: 50px; */
    /* margin: 50px 70px; */
    /* align-items: start; */
    gap: 40px;
    margin: 40px 60px;
    padding: 0 16px;
    align-items: stretch;
  }

  .contact-title h1 {
    /* padding: 0;
    font-size: 50px;
    font-weight: 600; */
    font-size: 36px;
    text-align: center;
  }

  .contact-title img {
    /* width: 130px;
    margin-right: -20px; */
    width: 100px;
    right: 15px;
  }

  .contact-section {
    flex-direction: column;
    /* new */
    gap: 50px;
  }

  .contact-left h1 {
    /* font-size: 54px; */
    font-size: 40px;
  }

  .contact-left p {
    /* font-size: 18px; */
    width: 100%;
    font-size: 16px;
    line-height: 28px;
  }

  .contact-detail {
    /* gap: 20px; */
    font-size: 16px;
  }

  .contact-detail img {
    /* width: 25px; */
    width: 22px;
  }

  .contact-right label {
    /* font-size: 20px; */
    font-size: 16px;
  }

  .contact-right input {
    /* width: 100%;
    font-size: 20px; */
    width: 100%;
    height: 55px;
    font-size: 16px;
  }

  .contact-right textarea {
    /* width: 95%;
    font-size: 20px; */
    width: 90%;
    height: 150px;
    font-size: 16px;
  }

  .contact-submit {
    font-size: 20px;
    padding: 15px 40px;
    /* width: 100%;
    font-size: 18px;
    padding: 14px;
    text-align: center; */
  }
}
